.hidden {
    display: none; /* הסתרת האלמנט */
}

#formContainer {
    position: fixed; /* עמידה על האלמנטים */
    top: 0;
    right: 0;
    width: 300px; /* רוחב הטופס */
    height: 100%; /* גובה מלא */
    background-color: rgba(0, 0, 0, 0.8); /* צבע רקע עם שקיפות */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* צל */
    padding: 20px; /* ריפוד פנימי */
    z-index: 1000; /* להיות מעל שאר האלמנטים */
    color:white;
    padding: 0% 50px;
}

.form-popup {
    display: flex;
    flex-direction: column; /* סידור כלפי מטה */
}

.close {
    cursor: pointer; /* עכבר הופך ליד */
    font-size: 24px; /* גודל האיקס */
    align-self: flex-end; /* מיקום באוויר */
}

form {
    display: flex;
    flex-direction: column; /* סידור כלפי מטה */
    gap: 10px; /* רווחים בין השדות */
}


input[type="text"],
input[type="number"],
input[type="url"] {
    padding: 10px; /* ריפוד פנימי */
    font-size: 16px; /* גודל טקסט גדול יותר */
    border: none; /* הסתרת מסגרת ברירת מחדל */
    border-bottom: 2px solid white; /* קו תחתון */
    background: transparent; /* רקע שקוף */
    color: white; /* צבע טקסט */
}

.submit-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.buttons-ruler{
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.pages-buttons{
    display: flex;
    gap: 5px;
}

