.container{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    background-color: rgb(192, 206, 206);
}

.ruler{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
}

.ruler-button{
    background-color:black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

/* עיצוב הטבלא */
.book-list-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr; /* עמודות לגודל קבוע */
    gap: 2px; /* רווח בין הפריטים */
    margin: 20px;
    flex-grow: 0.6;
}

.grid-header {
    font-weight: bold;
    text-align: left;
    background-color: #ddd;
    padding:5px;
}

.grid-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.grid-button{
    background-color: white;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.title-item:hover{
    color:green;
    cursor: pointer;
}

@media (max-width: 600px) {
    .book-list-grid {
        grid-template-columns: 1fr; /* כל עמודה תופסת שורה */
    }
}

.content{
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 218, 249);
}


.sidebar {
    border-left: 1px solid #ddd;
    text-align: center;
    min-width: 200px;
    background-color: white;
    flex-grow: 0.4;
}

.sidebar img.book-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
    float: left;
    margin-left: 15px;
}

.amount-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.sider-button{
    background-color: purple;
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    color: white;
    flex-grow: 0.3;
}

#counter{
    flex-grow: 0.4;
    margin: 0%;
}

.page-button{
    background-color: rgb(244, 228, 244);
    color: black;
    border: none;
    text-align: center;
    font-size: 17px;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.active-page{
    color: white;
    background-color: blueviolet;
}

.move-page-button{
    background-color: blueviolet;
    color: white;
    border: none;
    text-align: center;
    font-size: 17px;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 20%;
}

.read:hover{
    color: orange;
}

.update:hover{
    color: blue;
}

.delete:hover{
    color: red;
}

/* sidebar style */
.sidbar-title{
    background-color: #ddd;
    width: 100%;
    margin-top: 0%;
    padding:25px 5px;
}

.book-section{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.image-div{
    max-width: 200px;
}

