.container{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    background-color: rgb(192, 206, 206);
}

.ruler{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
}

.ruler-button{
    background-color:black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    color: white;
}

/* עיצוב הטבלא */
.book-list-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr; /* עמודות לגודל קבוע */
    gap: 10px; /* רווח בין הפריטים */
    margin: 20px;
    flex-grow: 0.6;
}

.grid-header {
    font-weight: bold;
    text-align: left;
}

.grid-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
    .book-list-grid {
        grid-template-columns: 1fr; /* כל עמודה תופסת שורה */
    }
}

.content{
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 218, 249);
}


.sidebar {
    border-left: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    min-width: 200px;
    background-color: white;
    flex-grow: 0.4;
}

.sidebar img.book-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.rate-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.rate-section button {
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.sider-button{
    background-color: purple;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    color: white;
    flex-grow: 0.3;
}
#counter{
    background-color: rgb(232, 228, 228);
    flex-grow: 0.4;
    margin: 0%;
}
